form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #a0b3a8;
  border: 2px solid;
}

.form-container {
  margin: auto;
  justify-content: center;
}
