form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-1);
  border: 2px solid;
  gap: 1vh;
  padding: 0 4vh 4vh 4vh;
  border-radius: 5px;
  margin-top: 5vh;
  color: var(--color-4);
}

.form-container {
  margin: auto;
  justify-content: center;
  width: 250px;
}
